"""
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#parametersExist}}
Args:
{{#args}}
    {{var}} ({{typePlaceholder}}):
        {{descriptionPlaceholder}}
{{/args}}
{{/parametersExist}}

{{#returnsExist}}
Returns:
    {{returnTypePlaceholder}}:
        {{returnDescriptionPlaceholder}}
{{/returnsExist}}

{{#exceptionsExist}}
Raises:
{{#exceptions}}
    {{type}}:
        {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}

Notes:
    {{notesPlaceholder}}

Example:
    {{examplePlaceholder}}
"""