{% extends 'inheritance/account_parent.html'%} 
{% load static %} 
  
{% block content %}

<div class="content">
  <nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <!-- <li class="breadcrumb-item"><a href="#!">Pages</a></li> -->
      <!-- <li class="breadcrumb-item active">CLIENTS</li> -->
    </ol>
  </nav>
  <h2 class="text-bold text-body-emphasis mb-5">CLIENT MANIFEST</h2>
  <div id="members" data-list='{"valueNames":["customer","email","mobile_number","city","last_active","joined"],"page":10,"pagination":true}'>
    <div class="row align-items-center justify-content-between g-3 mb-4">
      <div class="col col-auto">
        <div class="search-box">
          <form class="position-relative">
            <input class="form-control search-input search" type="search" placeholder="Search Customer" aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>

          </form>
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <!-- <button class="btn btn-link text-body me-4 px-0">+.<span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button>
          <button class="btn btn-primary"><span class="fas fa-plus me-2"></span>Add member</button> -->
        </div>
      </div>
    </div>
    <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1">
      <div class="table-responsive scrollbar ms-n1 ps-1">
        <table class="table table-sm fs-9 mb-0">
          <thead>
            <tr>
              <th class="white-space-nowrap fs-9 align-middle ps-0">
                <div class="form-check mb-0 fs-8">
                  <input class="form-check-input" id="checkbox-bulk-members-select" type="checkbox" data-bulk-select='{"body":"members-table-body"}' />
                </div>
              </th>
              <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:200px;">CUSTOMER FIRST NAME</th>
              <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:200px;">CUSTOMER LAST NAME</th>
              <th class="sort align-middle" scope="col" data-sort="email" style="width:15%; min-width:200px;">EMAIL</th>
              <th class="sort align-middle pe-3" scope="col" data-sort="mobile_number" style="width:20%; min-width:200px;">MOBILE NUMBER</th>
              <th class="sort align-middle" scope="col" data-sort="city" style="width:10%;">CITY</th>
              <th class="sort align-middle text-end" scope="col" data-sort="last_active" style="width:21%;  min-width:200px;">LAST ACTIVE</th>
              <th class="sort align-middle text-end pe-0" scope="col" data-sort="joined" style="width:19%;  min-width:200px;">LAST UPDATED</th>
            </tr>
          </thead>
          <tbody class="list" id="members-table-body">
            {% for c in customer_list %}
            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
              <td class="fs-9 align-middle ps-0 py-3">
                <div class="form-check mb-0 fs-8">
                  <input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/32.webp","name":"Carry Anna"},"email":"annac34@gmail.com","mobile":"+912346578","city":"Budapest","lastActive":"34 min ago","joined":"Dec 12, 12:56 PM"}' />
                </div>
              </td>
              <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                  <!-- <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/32.webp" alt="" /> -->
                  </div>
                  <h6 class="mb-0 ms-3 fw-semibold">{{ c.first_name }}</h6>
                </a></td>
                <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                  <!-- <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/32.webp" alt="" /> -->
                  </div>
                  <h6 class="mb-0 ms-3 fw-semibold">{{ c.last_name }}</h6>
                </a></td>
              <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:{{ p.email }}">{{ c.email }}</a></td>
              <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+912346578">{{ c.phone_number }}</a></td>
              <td class="city align-middle white-space-nowrap text-body">{{ c.address }}</td>
              <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">{{ c.created_at }}</td>
              <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">{{ c.updated_at }}</td>
            </tr>
            {% endfor %}
        
          </tbody>
        </table>
      </div>
      <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
        <div class="col-auto d-flex">
          <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
        </div>
        <div class="col-auto d-flex">
          <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
          <ul class="mb-0 pagination"></ul>
          <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer position-absolute">
    <div class="row g-0 justify-content-between align-items-center h-100">
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with FlintIO<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2025 &copy;<a class="mx-1" href="https://www.flintio.net/">Themewagon</a></p>
      </div>
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-body-tertiary text-opacity-85">v1.0.0
      </div>
    </div>
  </footer>
</div>

<!-- <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15 rounded-pill">
      <div class="modal-body p-0">
        <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
          <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
            <input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>

          </form>
          <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
            <button class="btn btn-link p-0" aria-label="Close"></button>
          </div>
          <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100">
            <div class="scrollbar-overlay" style="max-height: 30rem;">
              <div class="list pb-3">
                <h6 class="dropdown-header text-body-highlight fs-10 py-2">24 <span class="text-body-quaternary">results</span></h6>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Recently Searched </h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                    </div>
                  </a>
                  <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                    </div>
                  </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Products</h6>
                <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../apps/e-commerce/landing/product-details.html">
                    <div class="file-thumbnail me-2"><img class="h-100 w-100 object-fit-cover rounded-3" src="../assets/img/products/60x60/3.png" alt="" /></div>
                    <div class="flex-1">
                      <h6 class="mb-0 text-body-highlight title">MacBook Air - 13″</h6>
                      <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                    </div>
                  </a>
                  <a class="dropdown-item py-2 d-flex align-items-center" href="../apps/e-commerce/landing/product-details.html">
                    <div class="file-thumbnail me-2"><img class="img-fluid" src="../assets/img/products/60x60/3.png" alt="" /></div>
                    <div class="flex-1">
                      <h6 class="mb-0 text-body-highlight title">MacBook Pro - 13″</h6>
                      <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">30 Sep at 12:30 PM</span></p>
                    </div>
                  </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Quick Links</h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                    </div>
                  </a>
                  <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                    </div>
                  </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Files</h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-file-zipper text-body" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                    </div>
                  </a>
                  <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-file-lines text-body" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                    </div>
                  </a>
                  <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-image text-body" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                    </div>
                  </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Members</h6>
                <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../pages/members.html">
                    <div class="avatar avatar-l status-online  me-2 text-body">
                      <img class="rounded-circle " src="../assets/img/team/40x40/10.webp" alt="" />

                    </div>
                    <div class="flex-1">
                      <h6 class="mb-0 text-body-highlight title">Carry Anna</h6>
                      <p class="fs-10 mb-0 d-flex text-body-tertiary">anna@technext.it</p>
                    </div>
                  </a>
                  <a class="dropdown-item py-2 d-flex align-items-center" href="../pages/members.html">
                    <div class="avatar avatar-l  me-2 text-body">
                      <img class="rounded-circle " src="../assets/img/team/40x40/12.webp" alt="" />

                    </div>
                    <div class="flex-1">
                      <h6 class="mb-0 text-body-highlight title">John Smith</h6>
                      <p class="fs-10 mb-0 d-flex text-body-tertiary">smith@technext.it</p>
                    </div>
                  </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Related Searches</h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"><span class="fa-brands fa-firefox-browser text-body" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                    </div>
                  </a>
                  <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                      <div class="fw-normal text-body-highlight title"> <span class="fa-brands fa-chrome text-body" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="text-center">
                <p class="fallback fw-bold fs-7 d-none">No Result Found.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<script>
  var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
  var navbarTop = document.querySelector('.navbar-top');
  if (navbarTopStyle === 'darker') {
    navbarTop.setAttribute('data-navbar-appearance', 'darker');
  }

  var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
  var navbarVertical = document.querySelector('.navbar-vertical');
  if (navbarVertical && navbarVerticalStyle === 'darker') {
    navbarVertical.setAttribute('data-navbar-appearance', 'darker');
  }
</script>

{% endblock %}