<div class="{{ column_class|default:'col-12' }}">
  <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="text-danger">*</span>{% endif %}</label>
  {{ field }}
  {% if field.help_text %}<div class="form-text" id="{{ field.auto_id }}_helptext">{{ field.help_text }}</div>{% endif %}
  {% if field.errors %}
  <div class="invalid-feedback d-block" id="{{ field.auto_id }}_error">
    {% for error in field.errors %}<div>{{ error }}</div>{% endfor %}
  </div>
  {% endif %}
</div>
